.g-dashboard{
    @apply   h-screen flex-col overflow-scroll w-full ;

}
.g-dashboard--sections{
    @apply flex w-full g-centralize-items  overflow-hidden		;
    min-height: 50vh;

}
.g-dashboard--top{
    @apply  mt-20 g-dashboard--sections ;
}
.g-dashboard--top img {
    width: 50%;
  }
  @media screen and ( min-width:760px){
 
    .g-dashboard--top img {
         width: 35%;
       }
     
  }
  @media screen and ( min-width:1200px){
    .g-dashboard--top{
    
        height: 43vh;

    }
    .g-dashboard--top img {
         height: 90%;
       }
     
  }
  .g-dashboard--middle{
    @apply  g-justify-center g-background-darkGray flex-wrap overflow-hidden		;
    min-height: 50vh;

  }
  @media screen and (orientation:landscape){
    .g-dashboard--middle{
        @apply  g-justify-center g-background-darkGray flex-wrap	;
        min-height: 60vh;
      }

}
  .g-dashboard--bottom{
    @apply  g-dashboard--sections  flex-wrap ;
  }

  .g-dashboard--bottom div{
    @apply m-10 text-center	;
  }


  .circled-hours {
    @apply text-5xl font-bold g-color-blue rounded-full bg-white flex items-center justify-center font-mono;
    height: 150px;
    width: 150px; 
    border: 5px solid #00c300;

}
@media screen and ( min-width:760px){
 
    .circled-hours {
        height: 200px;
        width: 200px; 
       }
     
  }
  @media screen and ( min-width:1200px){
 
    .g-dashboard--middle{
        min-height: 80vh;
      }
     
  }
  /*Dashboard cards*/

.g-dashbord-card{
    @apply flex flex-col p-5 text-center g-color-green w-2/5 m-3 bg-white border-gray-200 border-2 shadow-lg  ;
    height:40vh;

}

.g-dashbord-card img{
    @apply  m-3;
    height: 50px;
}

.g-dashboard-card--content{
    @apply my-2  text-left text-black  border-b-2 border-black;
    
}

@media screen and ( min-width:700px){
 
    .g-dashbord-card img{
            height: 80px;
    }
  }

  @media screen and (orientation:landscape){
 
    .g-dashbord-card{
        @apply  w-3/12 p-2;

        min-height:50vh;
    
    }
    .g-dashbord-card img{
        @apply  m-1;

            height: 30px;
    }
 
    .g-dashboard-card--content{
        @apply my-1   ;
           
    }
  }
@media screen and ( min-width:1025px){
    .g-dashbord-card{
        @apply  w-3/12 p-10;

        height:70vh;
    
    }
    .g-dashbord-card img{
            height: 150px;
    }
 
    .g-dashboard-card--content{
        @apply my-3   ;
           
    }
  }

  /*ADM dash*/
  .g-adm-dashboard--middle{
    @apply w-full h-full  flex flex-wrap .justify-center;
}
.g-adm-dashboard--middle--inner{
    @apply m-1 p-1 w-5/12 border-green-400 border-4 rounded shadow-lg g-background-blue;
    height: 25vh;
 
}
.g-adm-dashboard--middle--inner:hover{
 @apply border-teal-200;
}
.g-adm-dashboard-card{
  @apply g-centralize-items overflow-hidden ;
}
.g-adm-dashboard-card--title{
  @apply text-white text-6xl	;
}
.g-adm-dashboard-card--subtitle{
  @apply text-white text-sm	;

}

@media screen and (min-width:700px){
 
  .g-adm-dashboard-card--title{
    font-size: 8rem
   }
  .g-adm-dashboard-card--subtitle{
    @apply text-white text-2xl		;
  
  }
}
@media screen and ( min-width:1025px){
  .g-adm-dashboard--middle--inner{
    @apply w-1/4 m-5;

    height: 35vh;
 
}
  .g-adm-dashboard-card--title{
   font-size: 8rem
  }
  .g-adm-dashboard-card--subtitle{
    @apply text-white text-sm	;
  
  }
}


.g-article-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}