/*------common------*/

.g-dashboard {
  @apply h-auto flex-col  w-full;
}
.g-dashboard--sections {
  @apply flex w-full g-centralize-items  overflow-hidden;
}
.g-dashboard--top {
  @apply g-dashboard--sections;
  height: 18vh;
}
.g-dashboard--top img {
  height: 80%;
}

/* ------graduate ------*/
.g-dashboard--middle {
  @apply g-justify-center g-background-darkGray flex-wrap overflow-hidden;
}

.g-dashboard--bottom {
  @apply g-dashboard--sections  flex-wrap;
}

.g-dashboard--bottom div {
  @apply text-center	g-centralize-items flex-col;
}

.circled-hours {
  @apply text-3xl	 font-bold g-color-primary  rounded-full bg-white flex items-center justify-center font-mono;
  height: 100px;
  width: 100px;
  border: 3px solid #00c300;
}

/*Phone landscape*/
@media (max-height: 500px) and (orientation: landscape) {
}

/* Tabled-portrait-up*/
@media (min-width: 600px) and (min-height: 500px) {
}
/* Tablet-landscape-up*/
@media (min-width: 900px) {
}
/*Desktop-up*/
@media (min-width: 1200px) {
}
/*Big-desktop-up*/
@media (min-width: 1800px) {
}

/* ________graduate cards_________*/

.g-dashbord-card {
  @apply flex flex-col p-5 text-center g-color-secondary w-2/5 m-3 bg-white border-gray-200 border-2 shadow-lg;
  height: 90%;
}

.g-dashbord-card img {
  @apply my-1;
  height: 20%;
}

.g-dashboard-card--content {
  @apply my-2  text-left text-black  border-b-2 border-black;
}

.g-article-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 700px) {
  .g-dashbord-card img {
    height: 80px;
  }
}

@media screen and (orientation: landscape) {
  .g-dashbord-card {
    @apply w-3/12 p-2;

    min-height: 50vh;
  }
  .g-dashbord-card img {
    @apply m-1;

    height: 30px;
  }

  .g-dashboard-card--content {
    @apply my-1;
  }
}
@media screen and (min-width: 1025px) {
  .g-dashbord-card {
    @apply w-3/12 p-10;

    height: 70vh;
  }
  .g-dashbord-card img {
    height: 150px;
  }

  .g-dashboard-card--content {
    @apply my-3;
  }
}

/* ------adm ------*/
.g-adm-dashboard--middle {
  @apply w-full h-auto  flex flex-wrap .justify-center;
}
.g-adm-dashboard-card {
  @apply overflow-hidden g-background-adm-secondary relative flex flex-col min-w-0 break-words  rounded my-3 mx-2 shadow-lg;
}
.g-adm-dashboard-card--title {
  @apply text-white text-3xl;
}
.g-adm-dashboard-card--subtitle {
  @apply text-white text-sm;
}
/*Phone landscape*/
@media (max-height: 500px) and (orientation: landscape) {
  .g-adm-dashboard--middle {
    @apply px-10;
  }
}

/* Tabled-portrait-up*/
@media (min-width: 600px) and (min-height: 500px) {
  .g-adm-dashboard--middle {
    @apply px-10;
  }
  .g-adm-dashboard-card--title {
    @apply text-5xl;
  }
  .g-adm-dashboard-card--subtitle {
    @apply text-lg;
  }
}
/* Tablet-landscape-up*/
@media (min-width: 900px) {
}
/*Desktop-up*/
@media (min-width: 1200px) {
  .g-adm-dashboard--middle {
    @apply px-32;
  }
  .g-adm-dashboard-card--title {
    @apply text-5xl;
  }
  .g-adm-dashboard-card--subtitle {
    @apply text-2xl;
  }
}
