@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&family=Zilla+Slab&display=swap");

* {
  margin: 0;
  text-decoration: none;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}

html {
  font-size: 13px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
*:focus {
  outline: none;
}
input {
  color: black;
}
