/*Phone landscape
@media (max-height: 500px) and (orientation: landscape) {
}
Tabled-portrait-up
@media (min-width: 600px) and (min-height: 500px) {
}
Tablet-landscape-up
@media (min-width: 900px) {
}
Desktop-up
@media (min-width: 1200px) {
}
Big-desktop-up
@media (min-width: 1800px) {
}*/

* {
  margin: 0;
  text-decoration: none;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}

html {
  font-size: 13px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
*:focus {
  outline: none;
}
input {
  color: black;
}
