.g-table-wrapper {
  @apply table-auto bg-white  w-full text-xl .h-full;
}
.g-table-header {
  @apply bg-gray-200 text-gray-600 uppercase leading-normal;
}
.g-table-header-cell {
  @apply py-3 px-6 text-left;
}

.g-table-body {
  @apply font-light;
}

.g-table-body-tr {
  @apply border-b border-gray-200 capitalize;
}
.g-table-body-tr:hover {
  @apply bg-gray-100;
}
.g-table-cell {
  @apply py-1 px-6 text-left .font-semibold;
}
.g-table-week-cell {
  @apply py-1 px-3 text-left .font-semibold;
}

.g-cell-passedAss {
  @apply bg-green-700 text-gray-200;
}
.g-cell-failedAss {
  @apply bg-red-700 text-gray-200;
}

/* Tabled-portrait-up*/
@media (min-width: 600px) and (min-height: 500px) {
  .g-table-wrapper {
    @apply text-3xl;
  }
  .g-table-cell {
    @apply py-3 px-6;
  }
}
/* Tablet-landscape-up*/
@media (min-width: 900px) {
  .g-table-wrapper {
    @apply text-2xl;
  }
  .g-table-cell {
    @apply py-3 px-6;
  }
}
