h1{
 @apply text-green-400 font-extrabold text-4xl	  capitalize text-center m-2 max-w-2xl;
    font-family: 'Zilla Slab', serif ;
}

h2,h3,h5,h6{
  @apply text-green-400 text-2xl  font-semibold capitalize	 m-2;

}

p{
  @apply text-sm m-2 	;
  font-family: 'Karla', sans-serif;
}

@media screen and ( min-width:750px){
  p{
   @apply text-3xl			;
  }
  h2,h3,h4,h5,h6{
    @apply text-4xl		;

  }
  h1{
    @apply text-5xl	
  }
}

@media screen and ( min-width:1200px){
  h1{
    font-size: 6rem;
  }
  
  h2,h3,h4,h5,h6{
    @apply text-4xl

  }
}


